*{
  margin: 0px;
  font-family: Gilroy;
  padding: 0px;
}


/* Set the background image to a car */
body {
  background-image: url("https://hips.hearstapps.com/hmg-prod/images/2023-mclaren-artura-101-1655218102.jpg?crop=1.00xw:0.847xh;0,0.153xh&resize=1200:*");
  background-size: cover;
  background-position: center;
}

/* Create a glass effect for the header */
header {
  backdrop-filter: blur(30px);
  background-color: rgba(46, 40, 40, 0.7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: #fff;
}

.text{
width: 70%;
}
/* Style the task form inputs */
#taskForm input[type="text"], 
#taskForm input[type="submit"] {
  border: none;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.task{
  display: flex;
  width: 100%;
}

#taskForm input[type="submit"] {
  border: 2px solid greenyellow;
  background-color: rgba(91, 169, 108, 0.171);
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#taskForm input[type="submit"]:hover {
  background-color: #0c0;
}

/* Style the task list */
.taskList {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.taskList h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* Style the task items */
.content {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.text {
  border: none;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.actions {
  display: flex;
  align-items: center;
}

.actions button {
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.actions button:hover {
  background-color: #ccc;
}

.edit {
  color: #0c0;
}

.delete {
  color: #f00;
}

/* Set the opacity of the entire page */
body {
  opacity: 0.9;
}
